
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href={% url 'home' %}>Books</a>
    </li>
  </ul>
</nav>