<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="google-signin-client_id" content="667593983760-kou8i2agrjcjberoiaf8nrs9qgskl9ec.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab_9/css/style.css' %}">
    <title>Story 9</title>
</head>
<body>
<header>
    {% include "partials/navbar.html" %}
</header>
<br><br>
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <div>
        <h1> Hello {{ nama }}</h1>
        <h2>Collection:</h2>
        <ul>
            <li><h3 id="quilting">Quilting</h3></li>
            <li><h3 id="programming">Programming</h3></li>
            <li><h3 id="django">Django</h3></li>
            <li><h3 id="python">Python</h3></li>
        </ul>
    </div>
      <h1><span class="count">{{ count }}</span><img src="{% static 'lab_9/media/star.png' %}"> </h1>
      <hr class="d-sm-none">
        <div class="signout"><a href="{% url 'logout' %}" onclick="signOut()">Sign out</a></div>
    </div>
    <div class="col-sm-8">
      <table class="table table-striped table-hover table-responsive-md table-secondary">
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    </div>
  </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></body>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static 'lab_11/js/google.js' %}"></script>
<script src="{% static 'lab_9/js/Books.js' %}"></script>

</html>