<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="google-signin-client_id" content="667593983760-kou8i2agrjcjberoiaf8nrs9qgskl9ec.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab_11/css/style.css' %}">
    <title>Login</title>
</head>
<body>
<header>
    {% include "partials/navbar.html" %}
</header>
{% csrf_token %}
<br><div class="contain">
    <h3>Please log in</h3>
    <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static "lab_11/js/google.js" %}"></script>
</body>
</html>